html{
    background-color: aqua;
    
    
}
h1{
    text-align: center;
    font: bold;
    border: solid;
    border-radius: 20px; 
    

}
ul{
text-align: center;
float: right;
border-style: double;
border-radius: 15px;
border-color: black;

}
input{
    width: 300px;
}
